@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Single+Day&display=swap');

:root {
    --txt-color: #B0B0B0;
    --color-O: #00BCD4;
    --color-X: #FF5733;
    --bkg-color: #333840;
    --header-color: #252930;
    --btn-bkg-color: #252930; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Single Day', sans-serif;
    background-color: var(--bkg-color);
    color: var(--txt-color);
}

header {
    background-color: var(--header-color);
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
}

