@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Single+Day&display=swap');

:root {
    --txt-color: #B0B0B0;
    --color-O: #00BCD4;
    --color-X: #FF5733;
    --bkg-color: #333840;
    --header-color: #252930;
    --btn-bkg-color: #252930; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Single Day', sans-serif;
    background-color: var(--bkg-color);
    color: var(--txt-color);
    height: 100dvh;
}

body > * {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* header */
header {
    background-color: var(--header-color);
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 12.8rem;
    font-weight: 400;
}

/* scoreboard */
.scoreboard {
    width: 120rem;
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.scoreboard .player-info {
    border: 0.2rem var(--color-O) solid;
    border-radius: 2rem;
    padding: 1rem 3rem 1rem 1rem;
    width: 33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreboard #player-X .player-info {
    border-color: var(--color-X);
    padding: 1rem 1rem 1rem 3rem;
    flex-direction: row-reverse;
}

.scoreboard .player h2,
.scoreboard .player p {
    text-align: left;
    font-size: 4.8rem;
    font-weight: 300;
}

.scoreboard #player-X h2 {
    text-align: right;
}

/* board */
#board table {
    border-collapse: collapse;
}
#board table td {
    width: 17rem;
    height: 15rem;
    font-size: 12.8rem;
    text-align: center;
    user-select: none;
}

#board table .row2 {
    border-top: 1rem solid var(--txt-color);
    border-bottom: 1rem solid var(--txt-color);
}

#board table td + td{ 
    border-left:1rem solid var(--txt-color);
}